.sucursal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    gap: 10px;
    iframe {
        border-radius: 10px;
        height: auto;
        width: 80%;
        background-color: black;
    }
    p {
        font-size: 25px;
        color: white;
        font-family: $font1;
    }
}