.bannerIndex {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        height: 250px;
    }
    h1 {
        font-size: 25px;
        color: white;
        font-family: $font1;
    }
}

.sucursales {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        background-color: black;
        color: white;
        font-family: $font1;
    }
    p {
        color: white;
        font-family: $font1;
    }
}